Ваш код:

<% 10.times do |i| %>
  <% if i == 0 %>
    <h1><%= @code.reverse.upcase.chars.reverse.join("-") + ":202#{1}" + ":SUM" + "MER" %></h1>
  <% else %>
    <div style="display: none"><%= i %></div>
  <% end %>
<% end %>

